html
{
	margin: 0 !important;
	padding: 0 !important;
}

#header
{
	width: 100%;
	display: absolute;
	margin: 0 !important;
	padding: 0 !important;
	bottom: 0px;
	height: 100%;
	overflow: hidden;
}

#menu_bar
{
	width: 100%;
	background-color: #252933;
	height: 80px;
	margin: 0 !important;
	padding: 0 !important;
}

ul
{
	margin: 0;
	margin-right: 20px;
	padding: 0 !important;
	vertical-align: middle;

	list-style-type:none;
	float: right;

}

li
{
	margin: 0 10px;
	padding: 0 !important;
	float: left;
	height: 50px;
	width: 180px;
	display: inline-block;
	position: relative;
	top: 15px;
	text-align: center;
	vertical-align: middle;
}

a.menu_item
{
	font-family: "Helvetica", "Arial", sans-serif;
	text-decoration: none;
	font-size: 16pt;
	margin: 12px auto;
	padding: 0 !important;
	color: white;
	vertical-align: middle;
	display: inline-block;
}

li:hover
{
	background-color: rgba(255, 255, 255, .4);
	border-radius: 20px;
}

.h_background
{
	top: 300px;
	height: 800px;
	margin: 0;
	padding: 0;
}

#background_tint
{
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 740px;
	position: absolute;
	top: 80px;
}

#background_image
{
	width: 100%;
	height: 100%;
	background-image: url("Images/3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 80px;

}

#background_image
{
	background-image: url("Images/4.jpg");
}
body {    
	margin: 0 !important;
	padding: 0 !important;
}

.content
{
	text-align: center;
	background-color: rgba(0, 44, 140, .0);
	width: 600px;
	height: 150px;
	margin: 0 auto;
	display: block;
	position: relative;
	top: -650px;
	border-radius: 25px;

}

h1
{
	font-family: "Times", serif;
	font-size: 36pt;
	color: white;
	padding: 30px auto;

}

p
{
	font-family: "Helvetica Neue", "Arial", sans-serif;
}

#button
{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(54, 93, 193, 1);
	margin: 15px 90px;

	height: 50px;
	width: 320px;
	text-align: center;
	border-radius: 10px;
}

a.button
{
	text-decoration: none;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: bold;
	padding: 15px 10px;
	color: white;
	font-size: 15pt;
	vertical-align: middle;
	display: inline-block;
}
